#post-form  textarea
{
	width: 100%;
	background: none;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	border: none;
	margin: 0px;
	resize: none;
}

#post-form  textarea:focus
{
	border: thin dotted #636363;
	
	/*
	 * Adjust margin to prevent the border from moving the div around.
	 */
	margin: -1px;
}

#post-form-data
{
	color: #e8e8e8;
}

#post-form-title
{
	font-size: 1em;
	font-weight: bold;
	color: #eb941d;
}
